@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';

@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?xmf3ny');
  src:  url('../../fonts/icomoon.eot?xmf3ny#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?xmf3ny') format('truetype'),
    url('../../fonts/icomoon.woff?xmf3ny') format('woff'),
    url('../../fonts/icomoon.svg?xmf3ny#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.rotating{
    display: inline-block;
    margin-left: 15px;
    font-weight: bold;
  }
}

.icon-whatsapp-logo:before {
  content: "\e900";
}
.icon-mapmarker:before {
  content: "\e901";
}
.icon-chevron:before {
  content: "\e903";
}
.icon-envelope:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-check-circle:before {
  content: "\e902";
}
.icon-spinner8:before {
  content: "\e981";
}
