$font-main: 'Roboto';
$font-secondary: 'Lato';

$graphite: #3b3b3b;
$shadow: #a0a0a0;
$gray: #f7f7f7;
$gray2:#ececec;
$green: #27ae60;
$amaranth: #EE4658;
$ligth-amaranth: lighten($amaranth, 3%) !default;

$brand-primary: #3f4895;
$brand-amaranth: $amaranth;

$brand-success: #71dea0;
$brand-info:    #5FAEAD;
$brand-warning: #F5AB35;
$brand-danger:  #D5354C;
