.aedu-widget-post{
  img{
    max-width: 100%;
    min-width: 100%;
  }
  .aedu-widget-post-item{
    margin-bottom: 15px;
    height: 65px;
    overflow: hidden;
  }

  .post-title{
    margin: 0px;
  }
}
