.footer{
	background-color: $gray2;
	color: #ffffff;
  height: 200px;
  padding-top: 30px;
	margin-top: 60px;
	.logo{
		margin-bottom: 2rem;
	}

	p{
		color: #ffffff;
		font-size: 1.5rem;
	}

	span{
		color: #ffffff;
		margin-right: 1rem;
  	font-weight: bold;
  	vertical-align: middle;
	}
	a{
		color: #fff;
		&:hover{
			color: #fff;
			text-decoration: underline;
		}
	}
}
