[class^="icon-"], [class*=" icon-"] {
  &.rotating{
    display: inline-block;
    margin-left: 15px;
    font-weight: bold;
  }

  &.icon-xlg {
    font-size: 9rem;
    color: $brand-amaranth;
    padding: 15px;
  }
}
