.list-arrow{
  list-style: none;
  li{
    margin-bottom: 5px;
    font-size: 16px;
    &:before{
      content: "\e903";
      font-family: 'icomoon';
      display: inline-block;
      transform: rotate(180deg);
      font-weight: bold;
    }
    &:hover:before{
      color: $brand-primary;
    }
    &:hover{
      a{
        font-weight: bold;
      }
    }
  }
}
