.media {
  padding: 15px 15px 35px 15px;
  margin-bottom: 35px;
  border-bottom: 1px solid #e6e6e6;
  .media-left {
    display: inline-block;
  }
  .media-body {
    display: inline-block;
  }

  &.media-img-small {
    .media-left{
      width: 180px;
      overflow: hidden;
      padding: 0 15px;
      img {
        border: 3px solid $brand-amaranth;
        border-radius: 100%;
      }
    }

    .media-body {
      width: calc(100% - 190px);
      width: -webkit-calc(100% - 190px);
      width: -moz-calc(100% - 190px);
      width: -o-calc(100% - 190px);
    }
  }

  &.media-well{
    border-radius: 6px;
  }
  &:last-child{
    border-bottom: none;
  }
}
