.meta{
  color: $brand-primary;
  font-weight: bold;
  .categories-links {
    a{
      font-weight: bold;
      color: $brand-primary;
    }
  }

  .divider{
    margin: 0 10px;
    opacity: .4;
    font-weight: bold;
  }
}
