.nav-pills{
  &.nav-amaranth{
    li{
      &.active{
        a{
          background-color: $brand-amaranth;
          font-weight: bold;
          &:hover{
            color: white;
            background-color: $brand-amaranth;
            border: none;
          }
        }
      }
      a{
        &:hover{
          color: $brand-amaranth;
          background-color: transparent;
          border: 1px solid $brand-amaranth;
        }
      }
    }
    &.nav-amaranth-light{
      li:not(.active) a{
        // background-color: #ffe0e4;
      }
    }
  }

  &.center-nav{
    text-align: center;
    li{
      display: inline-block;
      float: none;
    }
  }

  &.simple-nav{
    li{
      &.active a{
        background: transparent;
        color: $brand-amaranth;
        font-weight: bold;
        &:hover{
          background-color: transparent;
          color: $brand-amaranth;
        }
      }
      a{
        &:hover{
          border: none;
          font-weight: bold;
          color: $brand-amaranth;
        }
      }
    }
  }

  &.tipodecurso-nav{
    background: $brand-primary;
    padding: 10px 0px;

    li{
      &.active {
        a{
          background-color: $brand-amaranth;
          font-weight: bold;
        }
      }
      a{
        color: #fff;
        border-radius: 0px;
        font-size: 15px;
        &:hover, &:focus{
          background-color: $ligth-amaranth;
          border-radius: 0px;
        }
      }
    }
  }
}

.tab-pane{
  .nav-pills{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.tipodecurso-tab-content {
  padding-top: 10px;
}
