.panel{
  &.panel-amaranth{
    border: 1px solid $brand-amaranth;
    .panel-heading{
      background-color: $brand-amaranth;
      border-color: $brand-amaranth;
      color: white;
      font-size: 16px;
      font-weight: bold;
    }
    .panel-body{
      padding: 0px;
    }
  }
}
