.widget_siteorigin-panels-postloop{
  margin-right: -15px;
  margin-left: -15px;
  .type-post{
    margin-bottom: 30px;

    img{
      max-width: 100%;
      min-width: 100%;
    }

    .post-thumbnail{
      padding: 0px;
    }
  }
}

.wrapper-post{
  box-shadow: 0px 1px 1px grey;
  background: white;
  .post-thumbnail{
    overflow: hidden;
  }
  .preview-post{
    padding: 5px 15px 20px;
    background-color: white;
    word-break: break-all;
  }
}
