.pre-enrollment{
  background-color: $brand-primary;
  color: white;
}

.pre-enrollment-list{
  list-style: none;
  height: 40px;
  margin-bottom: 0px;
  padding-bottom: 0px;

  li {
    height: 40px;
    line-height: 40px;
  }

  .btn{
    height: 42px;
    border: none;
    border-radius: 0px;
    line-height: 28px;
    width: 100%;
    font-size: 16px;
  }
}

.pre-enrollment-form{
  .nav-tabs{
    border: none;
    li{
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .nav > li {
    &.active{
      a{
        background-color: white;
        font-weight: bold;
        border: none;
        color: #333;
        &::before{
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-left: 10px solid $brand-amaranth;
          border-bottom: 5px solid transparent;
        }
      }
    }
    a{
      &:hover{

      }
      background-color: transparent;
      font-size: 18px;
      &::before{
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-left: 10px solid $ligth-amaranth;
        border-bottom: 5px solid transparent;
      }
    }
  }

  .tab-content{
    padding: 30px 15px;
  }
}
