.page-title, .widget-title{
  font-weight: bold;
  &::after{
    content: "";
    display: block;
    position: relative;
    width: 30px;
    height: 4px;
    background-color: $brand-primary;
    left: 2px;
    top: 5px;
  }

  &.text-center{
    &::after{
      margin: 0 auto;
    }
  }

  &.media-heading {
    margin-bottom: 0px;
  }
}

.block-wrapper{
  .page-title{
    margin-top: 50px;
  }
}

.page-title{
  margin-bottom: 50px;
  &.page-title-small{
    margin-bottom: 30px;
  }
}

.widget-title{
  font-size: 20px;
  margin-bottom: 30px;
}
